@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

body, html{
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
}

.prose p {
  margin-bottom: 20px;
}

.custom-checkbox {
  appearance: none;
  width: 22px;
  height: 22px;
  background: #fff;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: border-color 0.2s;
  cursor: pointer;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 2px;
  width: 8px;
  height: 16px;
  border: solid #111;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  display: block;
}

#preloader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#preloader video {
  width: 200px;
  height: auto;
}